@media screen and (max-width: 390px) {
  /* HEADER: */
  header {
    .header-top {
      display: none;
    }

    .header-nav {
      display: none;
    }

    /* burguer CSS; */

    @import url(https://fonts.googleapis.com/css?family=Raleway);
    h2 {
      vertical-align: center;
      text-align: center;
    }

    html,
    body {
      margin: 0;
      height: 100%;
    }

    * {
      font-family: "Raleway";
      box-sizing: border-box;
    }

    .top-nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      /* background-color: var(--brand-green); */
      background-color: rgba(57, 67, 56, 0.4); /* verde com 30% de opacidade */
      backdrop-filter: blur(10px);
      height: 50px;
      padding: 1em;
      position: fixed;
      z-index: 2000;
      width: 390px;
      top: 0;
      left: 0;
      right: 0;
      height: 55px;

      .logo-mobile {
        display: flex;
        align-items: center;
        width: 224px;
        height: 62px;
        img {
          width: 59px;
          height: 59px;
        }
        span {
          font-family: "Philosopher";
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          letter-spacing: 0.02em;
          color: #ffffff;
        }
      }
    }

    .menu {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .menu > li {
      margin: 0 1rem;
      overflow: hidden;

      button {
        width: 100px;
        height: 26px;
        background: #3a4439;
        border-radius: 10px 0px;
        border: none;
        color: var(--brand-white);
        font-family: "Fredoka";
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 25px;
        transition: background-color 0.3s ease;
        cursor: pointer;
        padding-bottom: 5px;
      }
    }

    .menu-button-container {
      display: none;
      height: 100%;
      width: 30px;
      cursor: pointer;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    #menu-toggle {
      display: none;
    }

    .menu-button,
    .menu-button::before,
    .menu-button::after {
      display: block;
      background-color: #fff;
      position: absolute;
      height: 4px;
      width: 30px;
      transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
      border-radius: 2px;
    }

    .menu-button::before {
      content: "";
      margin-top: -8px;
    }

    .menu-button::after {
      content: "";
      margin-top: 8px;
    }

    #menu-toggle:checked + .menu-button-container .menu-button::before {
      margin-top: 0px;
      transform: rotate(405deg);
    }

    #menu-toggle:checked + .menu-button-container .menu-button {
      background: rgba(255, 255, 255, 0);
    }

    #menu-toggle:checked + .menu-button-container .menu-button::after {
      margin-top: 0px;
      transform: rotate(-405deg);
    }

    @media (max-width: 700px) {
      .menu-button-container {
        display: flex;
      }
      .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
      }
      #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      #menu-toggle:checked ~ .menu li {
        border: 1px solid #384237;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: rgba(
          88,
          88,
          88,
          0.9
        ); /* verde com 30% de opacidade */
        backdrop-filter: blur(10px);
      }
      .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
      }
    }
  }

  /* GALERIA MOBILE: */

  #gallery {
    display: flex;
    height: 3196px;
    margin-top: 550px;

    .gallery-title {
      height: 0;
      z-index: 1;
      padding-top: 0;
      margin-top: 33px;
      margin-bottom: 32px;
      h1 {
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
        position: absolute;
        width: 177px;
        height: 44px;
        left: 14px;
        top: 61px;
        margin-top: 33px;
      }
    }

    .gallery-pictures {
      display: flex;
      flex-direction: column;
      width: 390px;
      gap: 0;
      p {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        position: absolute;
        width: 151px;
        height: 35.7px;
        left: 239px;
        top: 415px;
      }
      .pic-collum1 {
        width: 390px;
        div {
          img {
            width: 390px;
            height: 390px;
          }
          p {
            display: none;
          }
        }
      }

      .pic-collum2 {
        display: flex;
        flex-direction: column;
        gap: 0;

        .collum2-pic2 {
          img {
            width: 390px;
            height: 390px;
          }
          p {
            display: none;
          }
        }
        .collum2-pic3-pic4 {
          flex-direction: column;
          gap: 0;
          img {
            width: 390px;
            height: 390px;
          }
          p {
            display: none;
          }
        }
      }
    }

    .gallery-pictures2 {
      .pic-collum3 {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 0;
        margin-bottom: -32px;
        .pic1 {
          width: 390px;
          height: 390px;
          margin-top: 4px;
          margin-bottom: 144px;
          p {
            display: none;
          }
        }
        .pic2 {
          width: 390px;
          p {
            display: none;
          }
          img {
            width: 390px;
            height: 390px;
          }
        }
      }
    }

    .gallery-pictures3 {
      display: flex;
      .pic-collum3 {
        display: flex;
        flex-direction: column;
        gap: 0;
        .pic1 {
          margin-top: -18px;
          margin-bottom: -1px;
          img {
            width: 390px;
            height: 390px;
          }
          p {
            display: none;
          }
        }
        .pic2 {
          img {
            width: 390px;
            height: 390px;
          }
          p {
            display: none;
          }
        }
      }
    }

    .gallery-pictures4 {
      display: flex;
      gap: 0;
      .pic-collum3 {
        margin-top: 265px;

        display: flex;
        gap: 0;
        flex-direction: column;
        .pic1 {
          img {
            width: 390px;
            height: 390px;
          }
          p {
            display: none;
          }
        }
        .pic2 {
          img {
            width: 390px;
            height: 390px;
          }
          p {
            display: none;
          }
        }
      }
    }
  }

  /* HIGHLIGHTS MOBILE: */

  /* CONTACT MOBILE: */

  #contact {
    background-color: var(--brand-green);

    height: 640px;
    .contact-group {
      margin-top: 251px;
      .contact-bg-1 {
        width: 390px;
        height: 320px;
        top: 109px;
      }
      .contact-bg-2 {
        width: 376px;
        height: 564px;
        left: 14px;
        top: -135px;
      }

      .contact-infos {
        width: 542px;
        height: 335px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        z-index: 1;

        h1 {
          font-weight: 500;
          font-size: 60px;
          line-height: 81px;
          color: var(--brand-white2);
        }

        h2 {
          font-family: "Fredoka";
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 39px;
          text-align: center;
          color: var(--brand-white2);
        }

        button {
          background: var(--brand-white2);
          border-radius: 20px 0px;
          font-family: "Fredoka";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          padding: 22px 20px 22px 20px;
          border: none;
          cursor: pointer;
        }
      }
    }
  }

  /* FOOTER MOBILE: */

  #footer {
    height: 750px;
    .footer-group {
      width: 390px;
      flex-direction: column;
      justify-content: center;

      .group1 {
        justify-content: left;
        width: 390px;
        justify-content: center;
        margin-bottom: 30px;

        .logo {
          .logo-name {
            justify-content: center;
            padding-right: 205px;
            img {
              width: 200px;
              height: 120px;
            }
            span {
              font-family: var(--font-family-footer);
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              line-height: 40px;
            }
          }
        }

        p {
          font-family: var(--font-family-title);
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
        }
      }
      .group2 {
        padding: 10px;
        width: 390px;
        justify-content: center;
        align-items: center;

        .services {
          width: 180px;
          height: 219px;

          h3 {
            font-family: "Fredoka";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: var(--brand-white2);
            margin-bottom: 27px;
          }
          ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-family: "Fredoka";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: var(--brand-white2);
            cursor: pointer;
          }
        }
        .resources {
          width: 180px;
          height: 219px;

          h3 {
            font-family: "Fredoka";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 17px;
            color: var(--brand-white2);
            margin-bottom: 27px;
          }
          ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-family: "Fredoka";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: var(--brand-white2);
            cursor: pointer;
          }
        }
        .suporte {
          width: 172px;
          height: 219px;
          h3 {
            font-family: "Fredoka";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: var(--brand-white2);
            margin-bottom: 27px;
          }
          ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-family: "Fredoka";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: var(--brand-white2);
            cursor: pointer;
          }
        }
      }
    }

    .footer-copyright {
      width: 362px;
      height: 65px;
      p {
        font-size: 14px;
        line-height: 17px;
        color: white;
        text-align: center;
      }
    }
  }
}
