#about {
  width: 100%;
  height: 800px;
  position: relative;

  .title {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 50px;
    padding-top: 30px;
    width: 100%;
    height: 160px;
    background-color: var(--brand-green-1);
    position: absolute;
    width: 1650px;
    height: 160px;
    left: 104px;
    top: 122px;
    border-radius: 0px 20px;
    position: relative;

    h1 {
      width: 488px;
      height: 160px;
      font-family: "Fredoka";
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 58px;
      color: #ffffff;
      margin-right: 180px;
    }
  }

  .picture-and-texts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 222px;
    position: relative;
    .picture {
      .build-img {
        width: 570px;
        height: 700px;
        position: absolute;
        top: 40px;
        left: 160px;
      }
    }

    .icon1-and-text1 {
      display: flex;
      text-align: center;
      align-items: center;
      position: absolute;
      background-color: var(--brand-white);
      border-bottom-left-radius: 15px;
      width: 320px;
      height: 90px;
      left: 410px;
      top: 500px;
      gap: 10px;
      padding: 10px;

      span {
        font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
        color: var(--brand-black);
      }
    }
    .icon2-and-text2 {
      display: flex;
      align-items: center;
      position: absolute;
      background-color: var(--brand-white);
      border-bottom-left-radius: 15px;
      text-align: center;
      gap: 10px;
      padding: 10px;
      width: 290px;
      height: 90px;
      left: 440px;
      top: 620px;

      span {
        font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
        color: var(--brand-black);
      }
    }
  }

  .texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 588px;
    height: 300px;
    margin-top: 160px;
    margin-left: 570px;
    .text {
      margin-bottom: 20px;
      p {
        font-family: "Raleway";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: var(--brand-gray);
      }
    }
  }
  .topics {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .topic {
      display: flex;
      align-items: center;
      gap: 10px;
      p {
        font-family: "Raleway";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: var(--brand-gray);
      }
    }
  }
}
