@media screen and (max-width: 390px) {
  /* HEADER: */
  header {
    .header-top {
      display: none;
    }

    .header-nav {
      display: none;
    }

    /* burguer CSS; */

    @import url(https://fonts.googleapis.com/css?family=Raleway);
    h2 {
      vertical-align: center;
      text-align: center;
    }

    html,
    body {
      margin: 0;
      height: 100%;
    }

    * {
      font-family: "Raleway";
      box-sizing: border-box;
    }

    .top-nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-color: var(--brand-green);
      color: #fff;
      height: 50px;
      padding: 1em;

      .logo-mobile {
        display: flex;
        align-items: center;
        width: 224px;
        height: 62px;
        img {
          width: 59px;
          height: 59px;
        }
        span {
          font-family: "Philosopher";
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          letter-spacing: 0.02em;
          color: #ffffff;
        }
      }
    }

    .menu {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .menu > li {
      margin: 0 1rem;
      overflow: hidden;

      button {
        width: 100px;
        height: 26px;
        background: #3a4439;
        border-radius: 10px 0px;
        border: none;
        color: var(--brand-white);
        font-family: "Fredoka";
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 25px;
        transition: background-color 0.3s ease;
        cursor: pointer;
      }
    }

    .menu-button-container {
      display: none;
      height: 100%;
      width: 30px;
      cursor: pointer;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    #menu-toggle {
      display: none;
    }

    .menu-button,
    .menu-button::before,
    .menu-button::after {
      display: block;
      background-color: #fff;
      position: absolute;
      height: 4px;
      width: 30px;
      transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
      border-radius: 2px;
    }

    .menu-button::before {
      content: "";
      margin-top: -8px;
    }

    .menu-button::after {
      content: "";
      margin-top: 8px;
    }

    #menu-toggle:checked + .menu-button-container .menu-button::before {
      margin-top: 0px;
      transform: rotate(405deg);
    }

    #menu-toggle:checked + .menu-button-container .menu-button {
      background: rgba(255, 255, 255, 0);
    }

    #menu-toggle:checked + .menu-button-container .menu-button::after {
      margin-top: 0px;
      transform: rotate(-405deg);
    }

    @media (max-width: 700px) {
      .menu-button-container {
        display: flex;
      }
      .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
      }
      #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      #menu-toggle:checked ~ .menu li {
        border: 1px solid #384237;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
      }
      .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
      }
    }
  }

  /* HERO: */
  #hero {
    .hero-infos {
      margin-top: 155px;
      width: 362px;
      height: 270px;
      .hero-title {
        width: 342px;
        height: 250px;
        text-align: center;
        h1 {
          font-family: "Philosopher";
          font-style: italic;
          font-weight: 700;
          font-size: 65px;
          line-height: 73px;
          letter-spacing: 0.02em;
          color: var(--brand-white);
        }
      }
      .hero-subtitle {
        width: 380px;
        height: 70px;
        padding: 10px;
        margin-top: 20px;
        img {
          display: none;
        }

        a h2 {
          font-family: "Fredoka";
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          line-height: 21px;
          color: var(--brand-white);
        }
      }
    }
  }

  /* ABOUT: */

  #about {
    display: none;
  }

  #about-mobile {
    display: flex;
    flex-direction: column;
    background-image: url("/src/assets/images/about-mobile-BG.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 390px;
    height: 651px;
    position: relative;

    .title-mobile {
      width: 390px;
      height: 145px;
      background: rgba(57, 67, 56, 0.5);
      margin-top: 59px;
      display: flex;
      align-items: center;
      padding: 10px;

      h1 {
        font-family: "Fredoka", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 42px;
        text-align: right;
        color: var(--brand-white);
      }
    }

    .text-mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 342px;
      height: 651px;
      position: absolute;
      top: 0;
      left: 48px;
      gap: 30px;
      padding: 12px;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.7) 0%,
        rgba(0, 0, 0, 0.7) 0.01%,
        rgba(0, 0, 0, 0.14) 100%
      );
      backdrop-filter: blur(2.5px);
      border-radius: 0px;

      h1 {
        font-family: "Fredoka", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 42px;
        text-align: right;
        color: var(--brand-white);
      }

      p {
        font-family: "Raleway";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: right;
        color: var(--brand-white);
      }

      .topic-mobile {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 330px;
        height: 60px;
        padding: 20px;

        span {
          font-family: "Raleway";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          text-align: right;
          color: var(--brand-white);
        }
      }
    }
  }

  /* GALERIA MOBILE: */

  #gallery {
    margin-top: 0;
    margin-bottom: 400px;
    .gallery-title {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      gap: 35px;
      width: 100%;

      h1 {
        color: var(--brand-green);
        background-color: transparent;
        font-family: "Fredoka";
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
      }
      .gallery-arrow {
        display: flex;
        gap: 20px;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        width: 50%;
        height: 20px;
        h3 {
          display: flex;
          justify-content: right;
          width: 94px;
          height: 17px;
          font-family: "Fredoka";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: var(--brand-gray);
        }

        img {
          width: 40px;
        }
      }
    }

    .gallery-pictures {
      height: 1000px;
      display: flex;
      flex-direction: column;
      gap: 0;
      p {
        display: none;
      }

      .pic-collum1 {
        width: 390px;
        height: 437px;

        div {
          img {
            width: 390px;
            height: 437px;
          }
        }
      }

      .pic-collum2 {
        display: flex;
        flex-direction: column;
        gap: 0;

        .collum2-pic2 {
          img {
            width: 390px;
            height: 317px;
          }
        }

        .collum2-pic3-pic4 {
          display: flex;
          width: 390px;
          gap: 0;
          img {
            width: 195px;
            height: 232px;
          }
        }
      }
    }
  }
}
